html {
    height:100%;
    width:100%;
    scroll-behavior: smooth;
}
:root {
    --bg-colour: #606C38;
    --light: #FEFAE0;
    --dark:#283618;
    --mid:#f0c593;
    --darkish: #BC6C25;
}
body{
    background-color: var(--bg-colour);
    color: var(--light)
}
button{
    border-radius: 8px;
    background-color: var(--light);
    color:var(--dark);
    border: 2px solid var(--darkish);

}
button:hover{
    cursor:pointer;
    background-color: var(--mid);
}

h1{
    font-size: 10vw;
}
.on{
        background-color: var(--mid);

}